.about-accordions {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin: 50px 209px 50px;
}
@media (max-width: 480px) {
  .about-accordions {
    margin: 19px 20px 20px;
    gap: 20px;
    
  }
}
