.cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px 60px;
  justify-content: center;
  margin: 43px auto 50px;
  background-color: #f6f6f6;
  padding: 56px 50px 43px;
  border-radius: 25px;
  max-width: 1240px;
}
@media (max-width: 480px) {
  .cards-grid {
    grid-template-columns: 1fr;
    margin: 27px 20px 20px;
    padding: 0;
    gap: 27px;
    background-color: transparent;
    border-radius: 0;
  }
}
